<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/students/home">Home |</a>
    <a href="/students/course">course |</a>
    <a href="/students/fees">fees |</a>
    <a href="/students/about">about |</a>
    <a href="/students/salary">Salary |</a>
    <h1>Welcome to the home page with views</h1>

    <form action="/students/datasave" method="post">
        Roll no : <input type="Number" name="rollno" /> <br/><br/> 
        Name <input type="text" name="name" /> <br/><br/>
        City <input type="text" name="city" /> <br/><br/>
        Fees : <input type="Number" name="fees" /> <br/><br/> 

        <button type="submit">Submit</button>
    </form>
</body>
</html>