<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSERT</title>
</head>
<body style="background-color: chocolate;">
    <a href="/">Home</a>  |
    <a href="/insert">Insert</a>  |
    <a href="/display">Display</a>  |
    <a href="/update">Update</a>  |
    <a href="/search">Search</a>  |
    <h1>Welcome to the student Insert Page</h1>
    <form action="/save" method="post">
        Roll no. <input type="text" name="roll_no" required/>
        Name <input type="text" name="name" required/>
        City <input type="text" name="city" required/>
        fees <input type="text" name="fees" required/>

        <button>Save</button>
    </form>

</body>
</html>